<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Suporte</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Centro de ajuda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Privacidade</a>
                    </li>

                </ul>
            </div>
            <div class="col-6 text-end">
                <p class="mb-0">
                    &copy; 2023 - <a href="#" class="text-muted">ISPTEC</a>
                </p>
            </div>
        </div>
    </div>
</footer>