<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <form class="d-none d-sm-inline-block">
        <div class="input-group input-group-navbar">
            <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Search">
            <button class="btn" type="button">
                <i class="align-middle" data-feather="search"></i>
            </button>
        </div>
    </form>


    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown"
                    data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="message-circle"></i>
                      
                           <span class="indicator">9+</span>
                           
                       
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                    aria-labelledby="messagesDropdown">
                    <div class="dropdown-menu-header">
                        <div class="position-relative">
                          Novas Mensagens
                        </div>
                    </div>
                    <div class="list-group">
                        
                        <a href="#" class="list-group-item">
                           
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <img src="/uploads/fotoPerfil/<%= enfermeiro.image %> "
                                        class="avatar img-fluid rounded-circle" alt="Ashley Briggs">
                                </div>
                               
                                <div class="col-10 ps-2">
                                    <div class="text-dark">Isaac</div>
                                    <div class="text-muted small mt-1" >assunto.
                                    <p style="max-width: 25ch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">Mensagen</p>
                                    </div>
                                    
                                    <div class="text-muted small mt-1">Data: 01/12/2022 Hora: 21:12 </div>
                                </div>
                               
                            </div>
                           
                        </a>
                       
                    </div>
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Transferencias Recentes</a>
                    </div>
                </div>
            </li>
          
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                    data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                    data-bs-toggle="dropdown">
                    <img src="/uploads/fotoPerfil/<%= enfermeiro.image%>" class="avatar img-fluid rounded-circle me-1"
                        alt="Chris Wood" /> <span class="text-dark"><%= enfermeiro.username %> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="/perfilAdmin"><i class="align-middle me-1"
                            data-feather="user"></i> Perfil</a>
                    <a class="dropdown-item" href="/Dashboard"><i class="align-middle me-1"
                        data-feather="pie-chart"></i> Dash & Analises</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perfilAdmin">Configurações</a>
                    <a class="dropdown-item" href="/logout">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>