<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/DashboardEnfermeiro">
            <span class="align-middle me-3">SGHISPTEC</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Analise Geral
            </li>
            <li class="sidebar-item active">
                <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">Dashboards</span>
                    <span class="badge badge-sidebar-primary">1</span>
                </a>
                <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/DashboardEnfermeiro">Analise Geral</a></li>
                    

                </ul>
            </li>
          
        
            <li class="sidebar-item">
                <a data-bs-target="#documentation" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="book-open"></i> <span
                        class="align-middle">Ocorrências</span>
                </a>
                <ul id="documentation" class="sidebar-dropdown list-unstyled collapse "
                    data-bs-parent="#sidebar">
                     <li class="sidebar-item"><a class="sidebar-link" href="/HistoricosClinicos">Históricos Clinicos</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="/Transferidos">Transferidos</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="/TranferenciaExterna">Transferencia Externa</a></li>
                  
                    
                </ul>
            </li>
          

            <li class="sidebar-header">
                Sistema Geral
            </li>

          
        

            <li class="sidebar-header">
                Plugins e complementos
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#form-plugins" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Relatório</span>
                </a>
                <ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse "
                    data-bs-parent="#sidebar">
                     <li class="sidebar-item"><a class="sidebar-link" href="/RelatorioMedico">Meus Relatorios</a></li>
                    
                
                   
                </ul>
            </li>


            <li class="sidebar-item">
                <a data-bs-target="#charts" href="/Dashboard" class="sidebar-link">
                    <i class="align-middle" data-feather="pie-chart"></i> <span
                        class="align-middle">Graficos & Estatísticas</span>
                </a>
               
            </li>
          
        </ul>

    </div>
</nav>