<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/inicio/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/inicio/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/inicio/css/style.css">

    <title>SGHISPTEC</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="/inicio/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Entrar para <strong>SGHISPTEC</strong></h3>
              <p class="mb-4">Sistema de Gestão de Históricos clinicos do centro Médico ISPTEC.</p>
            </div>
            <form action="/Autenticar" method="post">
              <div class="form-group first">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="email">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Senha*</label>
                <input type="password" class="form-control" id="password" name="senha">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Lembrar me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Esqueceu a senha? </a></span> 
              </div>

              <input type="submit" value="Entrar" class="btn text-white btn-block">
              
            
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="/inicio/js/jquery-3.3.1.min.js"></script>
    <script src="/inicio/js/popper.min.js"></script>
    <script src="/inicio/js/bootstrap.min.js"></script>
    <script src="/inicio/js/main.js"></script>
    <script src="/sweetalert/sweetalert2.all.min.js"></script>
    <% if(errado.length>0){%>
        <script>
          var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          Toast.fire({
            icon: 'error',
            title: '<%=errado %>'
          })
        </script>
        <% }else if(certo.length>0) {%>
            <script>
        
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })
        
              Toast.fire({
                icon: 'success',
                title: '<%=certo %>'
              })
        
            </script>
            <% }%>

  </body>
</html>